<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>送信確認</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    <h1>送信確認画面</h1>
    <p>柿の内容でよろしいですか</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore asperiores mollitia repellendus maiores
        deserunt? Iste, repellendus possimus dolorem voluptatibus, excepturi distinctio quasi inventore doloremque,
        sapiente sequi iure rerum. Maxime, voluptatum.</p>
    <p><input type="submit" value="送信する"></p>
    <p><a href="contact.html">編集する</a></p>
</body>

</html>