<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>お問合せフォーム</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <p><a href="index.html">ホーム</a></p>
    <h1>お問合せフォーム</h1>
    <form action="confirm.html" method="post">
    <p>名前: xxxx</p>
    <p>クラス: xxxx</p>
    <p>ご連絡先:</p>
    <p>お問合わせ内容:
        <select name="contactSubject">
            <option value="" selected>お問合せ内容を選択してください</option>
            <option value="1">ｘｘｘ</option>
            <option value="2">ｘｘｘ</option>
            <option value="3">ｘｘｘ</option>
            <option value="4">その他</option>
        </select>
    </p>
    <p>詳細:
      <textarea></textarea>
    </p>
    <input type="submit">
  </form>
</body>
</html>