<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>遅刻連絡</title>
  <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css">
</head>
<body>
    <p><a href="index.html">ホーム</a></p>
    <h1>遅刻早退連絡</h1>
    <form action="" method="post">
    <p>名前: xxxx</p>
    <p>クラス: xxxx</p>
    <p>時間:
      <input type="time">
    </p>
    <p>特記事項:
      <textarea></textarea>
    </p>
    <input type="submit">
  </form>
</body>
</html>