<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    <p><a href="index.html">ホーム</a></p>
    <h1>欠席連絡</h1>
    <form action="" method="post">
        <p>名前: xxxx</p>
        <p>クラス: xxxx</p>
        </p>
        <p>欠席理由:
            <select name="absenceReason">
                <option value="" selected>理由を選択してください</option>
                <option value="1">体調不良</option>
                <option value="2">家庭の予定がある</option>
                <option value="3">その他</option>
            </select><!-- /# -->
        </p>
        <p>特記事項:
            <textarea></textarea></p>
        <input type="submit">
    </form>
</body>

</html>